O que fazer:
- em IMDbBasics, adicionar os títulos (tconst) dos episódios (IMDbEpisode) (PS: averiguar runtimeMinutes)
- em NetflixIMDb, mover os atributos de episódio em IMDbEpisode

Power BI:
- Adicionar atributo de weekday
- Adicionar atributo de ano (para saber os 3 títulos em cada ano)

# Importa as bibliotecas da aplicação

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 26 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 48.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=dbbe9fa4b9eab3b8d8b11071da6bdbf33b65b300fd44c2497f3313a1aef480af
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import sys

from IPython.display import display
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession
from pyspark.context import SparkContext

from IPython.display import HTML, display
import tabulate

import pandas as pd
import numpy as np
import re

from google.colab import files

pd.options.display.max_colwidth = 100
pd.set_option('display.max_rows', None)

# Configura o ambiente de execução do Apache Spark

In [3]:
spark = SparkSession \
        .builder \
        .master("local[2]") \
        .appName("Netflix Analysis") \
        .config("spark.executor.cores", "2") \
        .config("spark.executor.memory", "2g") \
        .config("spark.cores.max", "4") \
        .getOrCreate()

# Realiza a leituras dos dados

In [4]:
!wget https://datasets.imdbws.com/title.akas.tsv.gz

--2022-03-12 17:33:58--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.249.32.72, 13.249.32.61, 13.249.32.128, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.249.32.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 265650581 (253M) [binary/octet-stream]
Saving to: ‘title.akas.tsv.gz’

title.akas.tsv.gz   100%[===================>] 253.34M  46.9MB/s    in 5.3s

2022-03-12 17:34:03 (48.2 MB/s) - ‘title.akas.tsv.gz’ saved [265650581/265650581]

In [5]:
!wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2022-03-12 17:34:03--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.249.32.44, 13.249.32.128, 13.249.32.72, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.249.32.44|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6101121 (5.8M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz’

title.ratings.tsv.g 100%[===================>]   5.82M  --.-KB/s    in 0.1s

2022-03-12 17:34:03 (48.2 MB/s) - ‘title.ratings.tsv.gz’ saved [6101121/6101121]

In [6]:
!wget https://datasets.imdbws.com/title.basics.tsv.gz

--2022-03-12 17:34:04--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.249.32.44, 13.249.32.128, 13.249.32.72, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.249.32.44|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 153311760 (146M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>] 146.21M  46.1MB/s    in 3.2s

2022-03-12 17:34:07 (46.1 MB/s) - ‘title.basics.tsv.gz’ saved [153311760/153311760]

In [7]:
!wget https://datasets.imdbws.com/title.episode.tsv.gz

--2022-03-12 17:34:07--  https://datasets.imdbws.com/title.episode.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.249.32.44, 13.249.32.128, 13.249.32.72, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.249.32.44|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 35582747 (34M) [binary/octet-stream]
Saving to: ‘title.episode.tsv.gz’

title.episode.tsv.g 100%[===================>]  33.93M  44.5MB/s    in 0.8s

2022-03-12 17:34:08 (44.5 MB/s) - ‘title.episode.tsv.gz’ saved [35582747/35582747]

In [8]:
!gzip -d title.akas.tsv.gz

In [9]:
!gzip -d title.ratings.tsv.gz

In [10]:
!gzip -d title.basics.tsv.gz

In [11]:
!gzip -d title.episode.tsv.gz

In [12]:
!ls

sample_data	title.basics.tsv   title.ratings.tsv
title.akas.tsv	title.episode.tsv

In [13]:
# IMDb Title Akas DataFrame
akas_df = spark.read.options(delimiter='\t').option("header", True).csv("/content/title.akas.tsv")

In [14]:
# IMDb Title Ratings DataFrame
ratings_df = spark.read.options(delimiter='\t').option("header", True).csv("/content/title.ratings.tsv")

In [15]:
# IMDb Title Basics DataFrame
basics_df = spark.read.options(delimiter='\t').option("header", True).csv("/content/title.basics.tsv")

In [16]:
# IMDb Title Episode DataFrame
episode_df = spark.read.options(delimiter='\t').option("header", True).csv("/content/title.episode.tsv")

In [17]:
# Netflix Streaming History DataFrame
netflix_df = pd.read_csv('https://raw.githubusercontent.com/vichShir/netflix-analysis/master/data/Netflix/NetflixViewingHistory2022.csv')

# Confere a estrutura dos dados

In [ ]:
print(type(akas_df))
print(type(ratings_df))
print(type(basics_df))
print(type(episode_df))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
akas_df.printSchema()

root
 |-- titleId: string (nullable = true)
 |-- ordering: string (nullable = true)
 |-- title: string (nullable = true)
 |-- region: string (nullable = true)
 |-- language: string (nullable = true)
 |-- types: string (nullable = true)
 |-- attributes: string (nullable = true)
 |-- isOriginalTitle: string (nullable = true)

In [ ]:
print(f'DataFrame Title Akas tem {akas_df.count()} linhas.')

DataFrame Title Akas tem 31268700 linhas.

In [ ]:
ratings_df.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- averageRating: string (nullable = true)
 |-- numVotes: string (nullable = true)

In [ ]:
print(f'DataFrame Title Ratings tem {ratings_df.count()} linhas.')

DataFrame Title Ratings tem 1221670 linhas.

In [ ]:
basics_df.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- titleType: string (nullable = true)
 |-- primaryTitle: string (nullable = true)
 |-- originalTitle: string (nullable = true)
 |-- isAdult: string (nullable = true)
 |-- startYear: string (nullable = true)
 |-- endYear: string (nullable = true)
 |-- runtimeMinutes: string (nullable = true)
 |-- genres: string (nullable = true)

In [ ]:
print(f'DataFrame Title Basics tem {basics_df.count()} linhas.')

DataFrame Title Basics tem 8750730 linhas.

In [ ]:
episode_df.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- parentTconst: string (nullable = true)
 |-- seasonNumber: string (nullable = true)
 |-- episodeNumber: string (nullable = true)

In [ ]:
print(f'DataFrame Title Episode tem {episode_df.count()} linhas.')

DataFrame Title Episode tem 6552731 linhas.

In [ ]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   450 non-null    object
 1   Date    450 non-null    object
dtypes: object(2)
memory usage: 7.2+ KB

In [ ]:
sum(netflix_df.duplicated())

0

# Pré-visualização dos dados

In [ ]:
# IMDb Title Akas DataFrame
display(akas_df.limit(5).toPandas())

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [ ]:
# IMDb Title Ratings DataFrame
display(ratings_df.limit(5).toPandas())

      tconst averageRating numVotes
0  tt0000001           5.7     1864
1  tt0000002           6.0      244
2  tt0000003           6.5     1632
3  tt0000004           5.8      158
4  tt0000005           6.2     2458

In [ ]:
# IMDb Title Basics DataFrame
display(basics_df.limit(5).toPandas())

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [ ]:
# IMDb Title Episode DataFrame
display(episode_df.limit(5).toPandas())

      tconst parentTconst seasonNumber episodeNumber
0  tt0020666   tt15180956            1             2
1  tt0020829   tt15180956            1             1
2  tt0021166   tt15180956            1             3
3  tt0021612   tt15180956            2             2
4  tt0021655   tt15180956            2             5

In [ ]:
# Netflix Streaming History DataFrame
netflix_df.head()

,Title,Date
0,Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Ocupação da Itália,14/02/2022
1,Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Batalha de Kursk,08/02/2022
2,Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Ocupação do Norte da África,31/01/2022
3,Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Batalha do Atlântico,30/12/2021
4,Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Dunquerque,27/12/2021

# Separar o título e o nome do episódio

In [18]:
netflix_df['Title']

0               Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Ocupação da Itália
1                 Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Batalha de Kursk
2      Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Ocupação do Norte da África
3             Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Batalha do Atlântico
4                       Segunda Guerra em Cores: Caminho para a Vitória: Temporada 1: Dunquerque
5                            Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Hiroshima
6             Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Libertação de Buchenwald
7                Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Bombardeio de Dresden
8                     Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Batalha do Bulge
9                                Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Dia D
10                Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Cerco de Stalingrado
11                                                        O Universo: Temporada 2: Alien Planets
12                   Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Batalha de Midway
13                        Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Pearl Harbor
14             Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Batalha da Grã-Bretanha
15                    Grandes Momentos da Segunda Guerra em Cores: Temporada 1: Guerra-relâmpago
16                                                  The Walking Dead: Temporada 8: Morto ou vivo
17                                   The Walking Dead: Temporada 8: Os perdidos e os saqueadores
18                                                          The Walking Dead: Temporada 8: Honra
19                                                   The Walking Dead: Temporada 8: Como vai ser
20                                              The Walking Dead: Temporada 8: Tempo para depois
21                                          The Walking Dead: Temporada 8: O rei, a viúva e Rick
22                                               The Walking Dead: Temporada 8: Cerco assustador
23                                                     The Walking Dead: Temporada 8: Um cara aí
24                                                       The Walking Dead: Temporada 8: Monstros
25                                                  The Walking Dead: Temporada 8: Os condenados
26                                                   The Walking Dead: Temporada 8: Misericórdia
27                                                    Sangatsu no Lion: Temporada 2: Episódio 22
28                                                    Sangatsu no Lion: Temporada 2: Episódio 21
29                                                    Sangatsu no Lion: Temporada 2: Episódio 20
30                                                    Sangatsu no Lion: Temporada 2: Episódio 19
31                                            Challenger: Voo Final: Minissérie: Nada acaba aqui
32                                          Challenger: Voo Final: Minissérie: Uma grande avaria
33                                                   Challenger: Voo Final: Minissérie: Socorro!
34                                        Challenger: Voo Final: Minissérie: O espaço para todos
35                                                    Sangatsu no Lion: Temporada 2: Episódio 18
36                                                    Sangatsu no Lion: Temporada 2: Episódio 17
37                                                    Sangatsu no Lion: Temporada 2: Episódio 16
38                                                    Sangatsu no Lion: Temporada 2: Episódio 15
39                                                    Sangatsu no Lion: Temporada 2: Episódio 14
40                                                    Sangatsu no Lion: Temporada 2: Episódio 13
41                                                    Sangatsu no Lion: Temporada 2: Episódio 12
42                                                    Sangatsu no Lion: Temporada 2: Episódio 11
43                                                    Sangatsu no Lion: Temporada 2: Episódio 10
44                                                     Sangatsu no Lion: Temporada 2: Episódio 9
45                                                     Sangatsu no Lion: Temporada 2: Episódio 8
46                                                     Sangatsu no Lion: Temporada 2: Episódio 7
47                                                     Sangatsu no Lion: Temporada 2: Episódio 6
48                                                     Sangatsu no Lion: Temporada 2: Episódio 5
49                                                     Sangatsu no Lion: Temporada 2: Episódio 4
50                                                     Sangatsu no Lion: Temporada 2: Episódio 3
51                                                     Sangatsu no Lion: Temporada 2: Episódio 2
52                                                     Sangatsu no Lion: Temporada 2: Episódio 1
53                                                 Space Force: Temporada 1: Reação proporcional
54                                                      Space Force: Temporada 1: De volta à Lua
55                                                       Space Force: Temporada 1: Visita íntima
56                                                       Space Force: Temporada 1: Edison Jaymes
57                                                            Space Force: Temporada 1: O espião
58                                                      Space Force: Temporada 1: Jogo de guerra
59                                                       Space Force: Temporada 1: Habitat lunar
60                                     Space Force: Temporada 1: Mark e Mallory vão a Washington
61                                               Space Force: Temporada 1: Salvando o Epsilon 6!
62                                                        Space Force: Temporada 1: O lançamento
63                                                    Sangatsu no Lion: Temporada 1: Episódio 22
64                                                    Sangatsu no Lion: Temporada 1: Episódio 21
65                                                    Sangatsu no Lion: Temporada 1: Episódio 20
66                                                    Sangatsu no Lion: Temporada 1: Episódio 19
67                                                    Sangatsu no Lion: Temporada 1: Episódio 18
68                                                    Sangatsu no Lion: Temporada 1: Episódio 17
69                                                    Sangatsu no Lion: Temporada 1: Episódio 16
70                                                    Sangatsu no Lion: Temporada 1: Episódio 15
71                                                    Sangatsu no Lion: Temporada 1: Episódio 14
72                                                    Sangatsu no Lion: Temporada 1: Episódio 13
73                                                    Sangatsu no Lion: Temporada 1: Episódio 12
74                                                    Sangatsu no Lion: Temporada 1: Episódio 11
75                                                    Sangatsu no Lion: Temporada 1: Episódio 10
76                                                     Sangatsu no Lion: Temporada 1: Episódio 9
77                                                     Sangatsu no Lion: Temporada 1: Episódio 8
78                                                     Sangatsu no Lion: Temporada 1: Episódio 7
79                                                     Sangatsu no Lion: Temporada 1: Episódio 6
80                                                     Sangatsu no Lion: Temporada 1: Episódio 5
81                                                     Sangatsu no Lion: Temporada 1: Episódio 4
82                                                     Sangatsu no Lion: Temporada 1: Episódio 3
83                                                  Mission Control: The Unsung Heroes of Apollo
84                                                     Sangatsu no Lion: Temporada 1: Episódio 2
85                                                     Sangatsu no Lion: Temporada 1: Episódio 1
86                                                                   Mars: Season 1_hook_04_16x9
87                                                               Marte: Temporada 1: Um novo lar
88                                                             Toradora!: Temporada 1: Toradora!
89                                                             Toradora!: Temporada 1: Confissão
90                                               Toradora!: Temporada 1: O caminho a ser seguido
91                                            Toradora!: Temporada 1: Quando você está por perto
92                                                    Toradora!: Temporada 1: Não consigo evitar
93                                           Toradora!: Temporada 1: Permaneça assim para sempre
94                                             Toradora!: Temporada 1: Festa da véspera de Natal
95                                                   Toradora!: Temporada 1: Debaixo do pinheiro
96                                          Toradora!: Temporada 1: Mercúrio retrógrado no Natal
97                                                     Toradora!: Temporada 1: Um passo à frente
98                                              Toradora!: Temporada 1: Estrelas estão distantes
99                                          Toradora!: Temporada 1: Tigre de Bolso da Felicidade
100        Toradora!: Temporada 1: Festival cultural da escola de ensino médio Oohashi – Parte 3
101        Toradora!: Temporada 1: Festival cultural da escola de ensino médio Oohashi – Parte 2
102        Toradora!: Temporada 1: Festival cultural da escola de ensino médio Oohashi – Parte 1
103                                                   Toradora!: Temporada 1: Fogos de artifício
104                                              Toradora!: Temporada 1: Quando você vai à praia
105                                                    Toradora!: Temporada 1: Para quem é isso?
106                                                       Toradora!: Temporada 1: Dia de piscina
107                                                      Toradora!: Temporada 1: O eu verdadeiro
108                                                        Toradora!: Temporada 1: Kawashima Ami
109                                             Toradora!: Temporada 1: Aquela cara que você fez
110                                                           Toradora!: Temporada 1: Sua canção
111                                                        Toradora!: Temporada 1: Taiga e Ryuji
112                                                       Toradora!: Temporada 1: Tigre e dragão
113                                           História: Direto ao Assunto: Temporada 1: Genética
114                                    História: Direto ao Assunto: Temporada 1: Energia nuclear
115                                          História: Direto ao Assunto: Temporada 1: Feminismo
116                                              História: Direto ao Assunto: Temporada 1: Robôs
117                          História: Direto ao Assunto: Temporada 1: Petróleo do Oriente Médio
118                                          História: Direto ao Assunto: Temporada 1: Plásticos
119                                  História: Direto ao Assunto: Temporada 1: Ascensão da China
120                                   História: Direto ao Assunto: Temporada 1: Corrida espacial
121                                          História: Direto ao Assunto: Temporada 1: Fast Food
122                                                                                Olhos de Gato
123                                        Explicando... O Coronavírus: Minissérie: Como encarar
124                                                       Marte: Temporada 1: Momento de decisão
125                              Explicando... O Coronavírus: Minissérie: Corrida por uma vacina
126                                                          Marte: Temporada 1: Tempos difíceis
127                                                                  Marte: Temporada 1: Energia
128                                                         Marte: Temporada 1: Queda de pressão
129                                                       Marte: Temporada 1: Com os pés no chão
130                                                                 The Search for Life in Space
131                                    Explicando... O Coronavírus: Minissérie: A atual pandemia
132                                                                       NOVA: Viagem a Saturno
133                                                                  NOVA: Black Hole Apocalypse
134                                                     O Universo: Temporada 1: A busca pelo ET
135                                   O Universo: Temporada 1: O lugar mais perigoso do Universo
136                                              O Universo: Temporada 1: Os Planetas Exteriores
137                                     O Universo: Temporada 1: A vida e a morte de uma estrela
138                                                O Universo: Temporada 1: Galáxias alienígenas
139                                         O Universo: Temporada 1: Saturno: o Senhor dos Anéis
140                            O Universo: Temporada 1: Mercúrio e Vênus: os Planetas Interiores
141                                                    O Universo: Temporada 1: Espaçonave Terra
142                                                               O Universo: Temporada 1: A Lua
143                                          O Universo: Temporada 1: Júpiter: o Planeta Gigante
144                                                      O Universo: Temporada 1: O fim da Terra
145                                           O Universo: Temporada 1: Marte: o Planeta Vermelho
146                                                     O Universo: Temporada 1: Segredos do Sol
147                                                                          A Viagem de Chihiro
148                                                                             Meu Amigo Totoro
149                                                    Três é Demais: Temporada 5: Maré de sorte
150                                                       Três é Demais: Temporada 5: O rei e eu
151                                                     Três é Demais: Temporada 5: Má reputação
152                                        Três é Demais: Temporada 5: Pode ficar com minha irmã
153                                                   Três é Demais: Temporada 5: A casamenteira
154                                                Três é Demais: Temporada 5: Problema em dobro
155                                                   Três é Demais: Temporada 4: Bebê a caminho
156                                          Três é Demais: Temporada 1: Nosso primeiro episódio
157                                                  Três é Demais: Temporada 4: Três formaturas
158                                                   Três é Demais: Temporada 4: Levando bronca
159                                     Três é Demais: Temporada 4: Hollywood, Joey está na área
160                                                    Três é Demais: Temporada 4: Tudo por amor
161                                              Três é Demais: Temporada 4: A gangue da reforma
162                                               Três é Demais: Temporada 4: Mudança indesejada
163                                            Três é Demais: Temporada 4: O casamento - Parte 2
164                                            Três é Demais: Temporada 4: O casamento - Parte 1
165                                       Três é Demais: Temporada 4: Banho de espuma para peixe
166                                       Três é Demais: Temporada 4: Stephanie vai longe demais
167                                                     Três é Demais: Temporada 4: Danny já era
168                                                  Três é Demais: Temporada 4: Só meio período
169                                                   Três é Demais: Temporada 4: Feliz Ano Novo
170                                                 Três é Demais: Temporada 4: Danny no comando
171                                                                                    Your Name
172                                              Três é Demais: Temporada 4: O admirador secreto
173                                                Três é Demais: Temporada 4: Um amor de menino
174                                                 Três é Demais: Temporada 4: Só mais um beijo
175                                                    Três é Demais: Temporada 4: Dieta secreta
176                                                   Três é Demais: Temporada 4: Las Joey Vegas
177                                                  Três é Demais: Temporada 4: Um mau conselho
178                                              Três é Demais: Temporada 4: A escolha do editor
179                                                  Três é Demais: Temporada 4: Festa do pijama
180                                                           Shiki Oriori: O Sabor da Juventude
181                                               Três é Demais: Temporada 4: Proposta indecente
182                                       Três é Demais: Temporada 4: Tem gente que não quer ver
183                                                 Três é Demais: Temporada 4: Direto da Grécia
184                                                Três é Demais: Temporada 3: Por uma boa causa
185                                        Três é Demais: Temporada 3: Relembrando velhos tempos
186                                              Três é Demais: Temporada 3: Um bebê para cuidar
187                                              Três é Demais: Temporada 3: D.J., a injustiçada
188                                                         Três é Demais: Temporada 3: A batida
189                                                  Três é Demais: Temporada 3: Papéis trocados
190                                           Três é Demais: Temporada 3: Programa para crianças
191                                                      Três é Demais: Temporada 3: 13 velinhas
192                          Três é Demais: Temporada 3: Onde está o passarinho que estava aqui?
193                                               Três é Demais: Temporada 3: Confusões amorosas
194                                             Três é Demais: Temporada 3: Babá sem experiência
195                                               Três é Demais: Temporada 3: O desafio de Jesse
196                                            Três é Demais: Temporada 3: Cometa, para de roer!
197                                          Teasing Master Takagi-san: Temporada 2: Episódio 12
198                                          Teasing Master Takagi-san: Temporada 2: Episódio 11
199                                          Teasing Master Takagi-san: Temporada 2: Episódio 10
200                                                Três é Demais: Temporada 3: Medo de terremoto
201                                           Teasing Master Takagi-san: Temporada 2: Episódio 9
202                                           Teasing Master Takagi-san: Temporada 2: Episódio 8
203                                    Três é Demais: Temporada 3: O melhor aniversário do mundo
204                                           Teasing Master Takagi-san: Temporada 2: Episódio 7
205                                           Teasing Master Takagi-san: Temporada 2: Episódio 6

In [19]:
# Remove duplicated row streaming error
netflix_df = netflix_df[netflix_df['Title'] != 'Mars: Season 1_hook_04_16x9']

In [20]:
def split_title(title):
  """
    Return the main title and episode name by title
  """
  main_title = title
  episode_name = ''
  texts = re.split('Temporada |Minissérie', title)

  # title have the separator key
  if len(texts) > 1:
    # get the main title
    main_title = texts[0]
    # remove white spaces
    main_title = main_title.strip()
    # remove the ':' character
    main_title = main_title[:-1]

    # get the episode name
    episode_name = texts[1]

  return (main_title, episode_name)

In [21]:
# Get episode name from Title
netflix_df['Episode'] = netflix_df['Title'].map(lambda x: split_title(x)[1])

In [22]:
# Update Title to the main title
netflix_df['Title'] = netflix_df['Title'].map(lambda x: split_title(x)[0])

In [23]:
netflix_df.head()

,Title,Date,Episode
0,Segunda Guerra em Cores: Caminho para a Vitória,14/02/2022,1: Ocupação da Itália
1,Segunda Guerra em Cores: Caminho para a Vitória,08/02/2022,1: Batalha de Kursk
2,Segunda Guerra em Cores: Caminho para a Vitória,31/01/2022,1: Ocupação do Norte da África
3,Segunda Guerra em Cores: Caminho para a Vitória,30/12/2021,1: Batalha do Atlântico
4,Segunda Guerra em Cores: Caminho para a Vitória,27/12/2021,1: Dunquerque

# Associar um ID do IMDb

In [24]:
# Get unique titles
titles = netflix_df['Title'].unique()
titles = np.sort(titles)
titles

array(['A Garota que conquistou o tempo', 'A Viagem de Chihiro',
       'A Voz do Silêncio – Koe No Katachi', 'Ano Hana',
       'Atlantis - O reino perdido', 'Bob Esponja',
       "Bob Esponja - Um Herói Fora D'Água", 'Challenger: Voo Final',
       'Coraline e o mundo secreto', 'Crianças Lobo', 'Divertida Mente',
       'Escola de rock', 'Explicando... O Coronavírus',
       'Exterminadores do Além Contra a Loira do Banheiro',
       'Grandes Momentos da Segunda Guerra em Cores',
       'História: Direto ao Assunto', 'Kubo e as Cordas Mágicas',
       'Little Witch Academia',
       'Little Witch Academia: The Enchanted Parade',
       'Luzes no Céu: Fireworks', 'Marte', 'Meu Amigo Totoro',
       'Mission Control: The Unsung Heroes of Apollo',
       'NOVA: Black Hole Apocalypse', 'NOVA: Viagem a Saturno',
       'O Universo', 'Olhos de Gato', 'One-Punch Man', 'ParaNorman',
       'Pets - A Vida Secreta dos Bichos', 'Sangatsu no Lion',
       'Segunda Guerra em Cores: Caminho para a Vitória', 'Sherlock',
       'Shiki Oriori: O Sabor da Juventude', 'Space Force',
       'Teasing Master Takagi-san', 'The Search for Life in Space',
       'The Walking Dead', 'Toradora!', 'Tron: O legado', 'Três é Demais',
       'Um maluco no pedaço', 'Viagem para Agartha', 'Your Name'],
      dtype=object)

In [25]:
print(f'São ao todo {len(titles)} títulos.')

São ao todo 44 títulos.

In [26]:
# Registering a table
akas_df.registerTempTable("akas_df")
ratings_df.registerTempTable("ratings_df")
basics_df.registerTempTable("basics_df")
episode_df.registerTempTable("episode_df")

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

In [27]:
original_titles = np.array(['Toki o kakeru shôjo', 'Sen to Chihiro no kamikakushi', 'Koe no katachi', 'Anohana: The Flower We Saw That Day',
                            'Atlantis: The Lost Empire', 'SpongeBob SquarePants', 'The SpongeBob Movie: Sponge Out of Water', 'Challenger: The Final Flight',
                            'Coraline', 'Wolf Children', 'Inside Out', 'School of Rock',
                            'Coronavirus, Explained', 'Exterminadores do Além Contra a Loira do Banheiro', 'Greatest Events of WWII in Colour', 'History 101',
                            'Kubo and the Two Strings', 'Little Witch Academia', 'Little Witch Academia: The Enchanted Parade', 'Luzes no Céu: Fireworks',
                            'The Martian', 'Tonari no Totoro', 'Mission Control: The Unsung Heroes of Apollo', 'Nova', 'Nova',
                            'The Universe', 'A Whisker Away', 'One Punch Man: Wanpanman', 'ParaNorman',
                            'The Secret Life of Pets', 'Sangatsu no Lion', 'WWII in Color: Road to Victory', 'Sherlock',
                            'Flavors of Youth', 'Space Force', 'Karakai Jouzu no Takagi-san', 'The Search for Life in Space',
                            'The Walking Dead', 'Toradora!', 'Tron: Legacy', 'Full House',
                            'The Fresh Prince of Bel-Air', 'Children Who Chase Lost Voices', 'Kimi no na wa.'])
original_titles

array(['Toki o kakeru shôjo', 'Sen to Chihiro no kamikakushi',
       'Koe no katachi', 'Anohana: The Flower We Saw That Day',
       'Atlantis: The Lost Empire', 'SpongeBob SquarePants',
       'The SpongeBob Movie: Sponge Out of Water',
       'Challenger: The Final Flight', 'Coraline', 'Wolf Children',
       'Inside Out', 'School of Rock', 'Coronavirus, Explained',
       'Exterminadores do Além Contra a Loira do Banheiro',
       'Greatest Events of WWII in Colour', 'History 101',
       'Kubo and the Two Strings', 'Little Witch Academia',
       'Little Witch Academia: The Enchanted Parade',
       'Luzes no Céu: Fireworks', 'The Martian', 'Tonari no Totoro',
       'Mission Control: The Unsung Heroes of Apollo', 'Nova', 'Nova',
       'The Universe', 'A Whisker Away', 'One Punch Man: Wanpanman',
       'ParaNorman', 'The Secret Life of Pets', 'Sangatsu no Lion',
       'WWII in Color: Road to Victory', 'Sherlock', 'Flavors of Youth',
       'Space Force', 'Karakai Jouzu no Takagi-san',
       'The Search for Life in Space', 'The Walking Dead', 'Toradora!',
       'Tron: Legacy', 'Full House', 'The Fresh Prince of Bel-Air',
       'Children Who Chase Lost Voices', 'Kimi no na wa.'], dtype='<U49')

In [28]:
mapped_titles = dict(zip(titles, original_titles))
mapped_titles

{'A Garota que conquistou o tempo': 'Toki o kakeru shôjo',
 'A Viagem de Chihiro': 'Sen to Chihiro no kamikakushi',
 'A Voz do Silêncio – Koe No Katachi': 'Koe no katachi',
 'Ano Hana': 'Anohana: The Flower We Saw That Day',
 'Atlantis - O reino perdido': 'Atlantis: The Lost Empire',
 'Bob Esponja': 'SpongeBob SquarePants',
 "Bob Esponja - Um Herói Fora D'Água": 'The SpongeBob Movie: Sponge Out of Water',
 'Challenger: Voo Final': 'Challenger: The Final Flight',
 'Coraline e o mundo secreto': 'Coraline',
 'Crianças Lobo': 'Wolf Children',
 'Divertida Mente': 'Inside Out',
 'Escola de rock': 'School of Rock',
 'Explicando... O Coronavírus': 'Coronavirus, Explained',
 'Exterminadores do Além Contra a Loira do Banheiro': 'Exterminadores do Além Contra a Loira do Banheiro',
 'Grandes Momentos da Segunda Guerra em Cores': 'Greatest Events of WWII in Colour',
 'História: Direto ao Assunto': 'History 101',
 'Kubo e as Cordas Mágicas': 'Kubo and the Two Strings',
 'Little Witch Academia': 'Little Witch Academia',
 'Little Witch Academia: The Enchanted Parade': 'Little Witch Academia: The Enchanted Parade',
 'Luzes no Céu: Fireworks': 'Luzes no Céu: Fireworks',
 'Marte': 'The Martian',
 'Meu Amigo Totoro': 'Tonari no Totoro',
 'Mission Control: The Unsung Heroes of Apollo': 'Mission Control: The Unsung Heroes of Apollo',
 'NOVA: Black Hole Apocalypse': 'Nova',
 'NOVA: Viagem a Saturno': 'Nova',
 'O Universo': 'The Universe',
 'Olhos de Gato': 'A Whisker Away',
 'One-Punch Man': 'One Punch Man: Wanpanman',
 'ParaNorman': 'ParaNorman',
 'Pets - A Vida Secreta dos Bichos': 'The Secret Life of Pets',
 'Sangatsu no Lion': 'Sangatsu no Lion',
 'Segunda Guerra em Cores: Caminho para a Vitória': 'WWII in Color: Road to Victory',
 'Sherlock': 'Sherlock',
 'Shiki Oriori: O Sabor da Juventude': 'Flavors of Youth',
 'Space Force': 'Space Force',
 'Teasing Master Takagi-san': 'Karakai Jouzu no Takagi-san',
 'The Search for Life in Space': 'The Search for Life in Space',
 'The Walking Dead': 'The Walking Dead',
 'Toradora!': 'Toradora!',
 'Tron: O legado': 'Tron: Legacy',
 'Três é Demais': 'Full House',
 'Um maluco no pedaço': 'The Fresh Prince of Bel-Air',
 'Viagem para Agartha': 'Children Who Chase Lost Voices',
 'Your Name': 'Kimi no na wa.'}

In [29]:
netflix_df['Title'].replace(mapped_titles, inplace=True)
netflix_df.sample(5)

,Title,Date,Episode
420,Anohana: The Flower We Saw That Day,20/09/2019,1: Episódio 5
136,The Universe,27/05/2020,1: Os Planetas Exteriores
405,Little Witch Academia,01/10/2019,1: A busca pela Sucy original
199,Karakai Jouzu no Takagi-san,09/01/2020,2: Episódio 10
108,Toradora!,03/08/2020,1: Kawashima Ami

In [30]:
from IPython.display import clear_output

def get_id_from_imdb(title_name):
  titles = spark.sql(f"SELECT titleId FROM akas_df WHERE title = '{title_name}' AND types = 'imdbDisplay'").toPandas()
  titles = titles.drop_duplicates(subset=['titleId'])
  titles = titles.reset_index(drop=True)

  """
  ids_size = len(titles.index)

  if ids_size > 1:
    clear_output(wait=True)
    print(f'Escolha um ID (index) para <<{title_name}>>:')
    display(titles)
    input_id = int(input('>> '))
    id = titles['titleId'][titles.index[input_id]]
  elif ids_size == 1:
    id = titles['titleId'][titles.index[0]]
  else:
    id = None
  """

  if len(titles) > 0:
    id = titles['titleId'][titles.index[0]]
  else:
    id = None

  title_id = id if id != None else np.nan
  return title_id

In [ ]:
title_ids = [get_id_from_imdb(x) for x in original_titles]
title_ids

['tt0808506',
 'tt0245429',
 'tt5323662',
 'tt1913273',
 'tt0230011',
 'tt0206512',
 'tt2279373',
 'tt12930534',
 'tt0327597',
 'tt2140203',
 'tt0073174',
 'tt0332379',
 'tt12189310',
 'tt8753660',
 'tt9103932',
 'tt11958648',
 'tt4302938',
 'tt6352180',
 'tt4831682',
 'tt6317962',
 'tt2910906',
 'tt0096283',
 'tt5959952',
 'tt0206501',
 'tt0206501',
 'tt1051155',
 'tt11958344',
 'tt4508902',
 'tt1623288',
 'tt2709768',
 'tt6074794',
 'tt16477402',
 'tt0337593',
 'tt8176578',
 'tt11309924',
 'tt7808344',
 'tt7521400',
 'tt0028478',
 'tt1279024',
 'tt1104001',
 'tt0092359',
 'tt0098800',
 'tt1839494',
 'tt5311514']

In [31]:
# Shortcut for find IDs
title_ids = ['tt0808506',
 'tt0245429',
 'tt5323662',
 'tt1913273',
 'tt0230011',
 'tt0206512',
 'tt2279373',
 'tt12930534',
 'tt0327597',
 'tt2140203',
 'tt0073174',
 'tt0332379',
 'tt12189310',
 'tt8753660',
 'tt9103932',
 'tt11958648',
 'tt4302938',
 'tt6352180',
 'tt4831682',
 'tt6317962',
 'tt2910906',
 'tt0096283',
 'tt5959952',
 'tt0206501',
 'tt0206501',
 'tt1051155',
 'tt11958344',
 'tt4508902',
 'tt1623288',
 'tt2709768',
 'tt6074794',
 'tt16477402',
 'tt0337593',
 'tt8176578',
 'tt11309924',
 'tt7808344',
 'tt7521400',
 'tt0028478',
 'tt1279024',
 'tt1104001',
 'tt0092359',
 'tt0098800',
 'tt1839494',
 'tt5311514']

## Associar IDs nos dados do Netflix

In [32]:
def categorise(row):
  for i in range(len(original_titles)):
    if(row['Title'] == original_titles[i]):
      return title_ids[i]
  return np.nan

In [33]:
netflix_df['titleId'] = netflix_df.apply(lambda row: categorise(row), axis=1)
netflix_df.head()

,Title,Date,Episode,titleId
0,WWII in Color: Road to Victory,14/02/2022,1: Ocupação da Itália,tt16477402
1,WWII in Color: Road to Victory,08/02/2022,1: Batalha de Kursk,tt16477402
2,WWII in Color: Road to Victory,31/01/2022,1: Ocupação do Norte da África,tt16477402
3,WWII in Color: Road to Victory,30/12/2021,1: Batalha do Atlântico,tt16477402
4,WWII in Color: Road to Victory,27/12/2021,1: Dunquerque,tt16477402

## Tratar o nome dos episódios

In [34]:
# Extract season number
netflix_df['seasonNumber'] = netflix_df['Episode'].str.extract(r'^[^\d]*(\d+)')
netflix_df.head()

,Title,Date,Episode,titleId,seasonNumber
0,WWII in Color: Road to Victory,14/02/2022,1: Ocupação da Itália,tt16477402,1
1,WWII in Color: Road to Victory,08/02/2022,1: Batalha de Kursk,tt16477402,1
2,WWII in Color: Road to Victory,31/01/2022,1: Ocupação do Norte da África,tt16477402,1
3,WWII in Color: Road to Victory,30/12/2021,1: Batalha do Atlântico,tt16477402,1
4,WWII in Color: Road to Victory,27/12/2021,1: Dunquerque,tt16477402,1

In [35]:
# Remove special characters at the beginning
netflix_df['Episode'] = netflix_df['Episode'].map(lambda x: x[2:].strip())
netflix_df.head()

,Title,Date,Episode,titleId,seasonNumber
0,WWII in Color: Road to Victory,14/02/2022,Ocupação da Itália,tt16477402,1
1,WWII in Color: Road to Victory,08/02/2022,Batalha de Kursk,tt16477402,1
2,WWII in Color: Road to Victory,31/01/2022,Ocupação do Norte da África,tt16477402,1
3,WWII in Color: Road to Victory,30/12/2021,Batalha do Atlântico,tt16477402,1
4,WWII in Color: Road to Victory,27/12/2021,Dunquerque,tt16477402,1

## Imputar os episódios do título "Nova"

In [36]:
netflix_df.loc[132,'Episode'] = 'Death Dive to Saturn'
netflix_df.loc[133,'Episode'] = 'Black Hole Apocalypse'

In [37]:
netflix_df.loc[[132, 133]]

    Title        Date                Episode    titleId seasonNumber
132  Nova  14/06/2020   Death Dive to Saturn  tt0206501          NaN
133  Nova  13/06/2020  Black Hole Apocalypse  tt0206501          NaN

## Adicionar coluna de episodeNumber

In [38]:
netflix_df.head()

,Title,Date,Episode,titleId,seasonNumber
0,WWII in Color: Road to Victory,14/02/2022,Ocupação da Itália,tt16477402,1
1,WWII in Color: Road to Victory,08/02/2022,Batalha de Kursk,tt16477402,1
2,WWII in Color: Road to Victory,31/01/2022,Ocupação do Norte da África,tt16477402,1
3,WWII in Color: Road to Victory,30/12/2021,Batalha do Atlântico,tt16477402,1
4,WWII in Color: Road to Victory,27/12/2021,Dunquerque,tt16477402,1

In [39]:
def list_range(start, finish, step):
  return list(range(start, finish-1, step))

In [44]:
ep_numbers = []

ep_numbers.extend(list_range(5, 1, -1))   # WWII in Color: Road to Victory
ep_numbers.extend(list_range(10, 5, -1))  # Greatest Events of WWII in Colour
ep_numbers.extend([1])                    # The Universe
ep_numbers.extend(list_range(4, 1, -1))   # Greatest Events of WWII in Colour
ep_numbers.extend(list_range(11, 1, -1))  # The Walking Dead
ep_numbers.extend(list_range(22, 19, -1)) # Sangatsu no Lion
ep_numbers.extend(list_range(4, 1, -1))   # Challenger: The Final Flight
ep_numbers.extend(list_range(18, 1, -1))  # Sangatsu no Lion
ep_numbers.extend(list_range(10, 1, -1))  # Space Force
ep_numbers.extend(list_range(22, 3, -1))  # Sangatsu no Lion
ep_numbers.extend([np.nan])               # Mission Control: The Unsung Heroes of Apollo
ep_numbers.extend([2, 1])                 # Sangatsu no Lion
ep_numbers.extend([1])                    # The Martian
ep_numbers.extend(list_range(25, 1, -1))  # Toradora!
ep_numbers.extend(list_range(9, 1, -1))  # History 101
ep_numbers.extend([np.nan])               # A Whisker Away
ep_numbers.extend([3])                    # Coronavirus, Explained
ep_numbers.extend([6])                    # The Martian
ep_numbers.extend([2])                    # Coronavirus, Explained
ep_numbers.extend(list_range(5, 2, -1))   # The Martian
ep_numbers.extend([np.nan])               # The Search for Life in Space
ep_numbers.extend([1])                    # Coronavirus, Explained
ep_numbers.extend([19, 1])                # Nova: Death Dive to Saturn (S44, E19) | Nova: Black Hole Apocalypse (S45, E1)
ep_numbers.extend(list_range(13, 1, -1))  # The Universe
ep_numbers.extend([np.nan, np.nan])       # Sen to Chihiro no kamikakushi e Tonari no Totoro
ep_numbers.extend(list_range(6, 1, -1))   # Full House (S5)
ep_numbers.extend([26])                   # Full House (S4)
ep_numbers.extend([1])                    # Full House (S1)
ep_numbers.extend(list_range(25, 12, -1)) # Full House (S4)
ep_numbers.extend([np.nan])               # Kimi no na wa.
ep_numbers.extend(list_range(11, 4, -1))  # Full House (S4)
ep_numbers.extend([np.nan])               # Flavors of Youth
ep_numbers.extend(list_range(3, 1, -1))   # Full House (S4)
ep_numbers.extend(list_range(24, 12, -1)) # Full House (S3)
ep_numbers.extend(list_range(12, 10, -1)) # Karakai Jouzu no Takagi-san (S2)
ep_numbers.extend([11])                   # Full House (S3)
ep_numbers.extend([9, 8])                 # Karakai Jouzu no Takagi-san (S2)
ep_numbers.extend([10])                   # Full House (S3)
ep_numbers.extend([7, 6])                 # Karakai Jouzu no Takagi-san (S2)
ep_numbers.extend([9])                    # Full House (S3)
ep_numbers.extend([5])                    # Karakai Jouzu no Takagi-san (S2)
ep_numbers.extend([8])                    # Full House (S3)
ep_numbers.extend([4])                    # Karakai Jouzu no Takagi-san (S2)
ep_numbers.extend([7])                    # Full House (S3)
ep_numbers.extend([3])                    # Karakai Jouzu no Takagi-san (S2)
ep_numbers.extend([6, 5])                 # Full House (S3)
ep_numbers.extend([2])                    # Karakai Jouzu no Takagi-san (S2)
ep_numbers.extend(list_range(4, 1, -1))   # Full House (S3)
ep_numbers.extend(list_range(22, 1, -1))  # Full House (S2)
ep_numbers.extend(list_range(22, 2, -1))  # Full House (S1)
ep_numbers.extend([1])                    # SpongeBob SquarePants (S6)
ep_numbers.extend([1])                    # Karakai Jouzu no Takagi-san (S2)
ep_numbers.extend([np.nan])               # School of Rock
ep_numbers.extend(list_range(3, 1, -1))   # Sherlock (S4)
ep_numbers.extend([0, 3, 2, 1])           # Sherlock (S3)
ep_numbers.extend(list_range(3, 1, -1))   # Sherlock (S2)
ep_numbers.extend(list_range(3, 1, -1))   # Sherlock (S1)
ep_numbers.extend([np.nan])               # Atlantis: The Lost Empire
ep_numbers.extend(list_range(24, 8, -1))  # The Fresh Prince of Bel-Air (S6)
ep_numbers.extend(list_range(25, 11, -1)) # The Fresh Prince of Bel-Air (S5) ?
ep_numbers.extend(list_range(24, 1, -1)) # The Fresh Prince of Bel-Air (S4) 26
ep_numbers.extend([24, 23, 20, 16, 13, 12, 11, 9, 7, 6, 5, 4, 2, 1]) # The Fresh Prince of Bel-Air (S3) ?
ep_numbers.extend(list_range(24, 7, -1))  # The Fresh Prince of Bel-Air (S2) ?
ep_numbers.extend(list_range(19, 1, -1))  # The Fresh Prince of Bel-Air (S1) ?
ep_numbers.extend([np.nan, np.nan])       # Little Witch Academia: The Enchanted Parade e Little Witch Academia
ep_numbers.extend(list_range(12, 1, -1))  # Little Witch Academia (S2)
ep_numbers.extend(list_range(13, 1, -1))  # Little Witch Academia (S1)
ep_numbers.extend([np.nan])               # Luzes no Céu: Fireworks
ep_numbers.extend(list_range(11, 1, -1))  # Anohana: The Flower We Saw That Day (S1)
ep_numbers.extend([np.nan, np.nan, np.nan, np.nan, np.nan]) # Tron: Legacy, Children Who Chase Lost Voices, Toki o kakeru shôjo, Wolf Children, Koe no katachi
ep_numbers.extend(list_range(12, 10, -1)) # One Punch Man: Wanpanman (S1)
ep_numbers.extend([np.nan])               # Inside Out
ep_numbers.extend(list_range(9, 1, -1))   # One Punch Man: Wanpanman (S1)
ep_numbers.extend([np.nan, np.nan, np.nan, np.nan, np.nan]) # Coraline, Kubo and the Two Strings, ParaNorman, The SpongeBob Movie: Sponge Out of Water, The Secret Life of Pets
ep_numbers.extend([1])                    # The Walking Dead (S1)
ep_numbers.extend([np.nan])               # Exterminadores do Além Contra a Loira do Banheiro

ep_numbers = np.array(ep_numbers, dtype='object')
print(len(ep_numbers))
print(ep_numbers)

449
[5 4 3 2 1 10 9 8 7 6 5 1 4 3 2 1 11 10 9 8 7 6 5 4 3 2 1 22 21 20 19 4 3
 2 1 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 10 9 8 7 6 5 4 3 2 1 22
 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 nan 2 1 1 25 24 23 22
 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 9 8 7 6 5 4 3 2 1
 nan 3 6 2 5 4 3 2 nan 1 19 1 13 12 11 10 9 8 7 6 5 4 3 2 1 nan nan 6 5 4
 3 2 1 26 1 25 24 23 22 21 20 19 18 17 16 15 14 13 12 nan 11 10 9 8 7 6 5
 4 nan 3 2 1 24 23 22 21 20 19 18 17 16 15 14 13 12 12 11 10 11 9 8 10 7 6
 9 5 8 4 7 3 6 5 2 4 3 2 1 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6
 5 4 3 2 1 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 1 nan
 3 2 1 0 3 2 1 3 2 1 3 2 1 nan 24 23 22 21 20 19 18 17 16 15 14 13 12 11
 10 9 8 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 24 23 22 21 20 19 18
 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 24 23 20 16 13 12 11 9 7 6 5 4
 2 1 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 19 18 17 16 15 14
 13 12 11 10 9 8 7 6 5 4 3 2 1 nan nan 12 11 10 9 8 7 6 5 4 3 2 1 13 12 11
 10 9 8 7 6 5 4 3 2 1 nan 11 10 9 8 7 6 5 4 3 2 1 nan nan nan nan nan 12
 11 10 nan 9 8 7 6 5 4 3 2 1 nan nan nan nan nan 1 nan]

In [45]:
netflix_df['episodeNumber'] = ep_numbers
netflix_df.head()

,Title,Date,Episode,titleId,seasonNumber,episodeNumber
0,WWII in Color: Road to Victory,14/02/2022,Ocupação da Itália,tt16477402,1,5
1,WWII in Color: Road to Victory,08/02/2022,Batalha de Kursk,tt16477402,1,4
2,WWII in Color: Road to Victory,31/01/2022,Ocupação do Norte da África,tt16477402,1,3
3,WWII in Color: Road to Victory,30/12/2021,Batalha do Atlântico,tt16477402,1,2
4,WWII in Color: Road to Victory,27/12/2021,Dunquerque,tt16477402,1,1

In [46]:
netflix_df.dtypes

Title            object
Date             object
Episode          object
titleId          object
seasonNumber     object
episodeNumber    object
dtype: object

## Trocar titleId de "Sherlock"

In [61]:
# Sherlock true ID: tt1475582
netflix_df['titleId'].mask(netflix_df['titleId'] == 'tt0337593', 'tt1475582', inplace=True)

## Organizar colunas

In [62]:
netflix_df = netflix_df[['Date', 'titleId', 'Title', 'Episode', 'seasonNumber', 'episodeNumber']]
netflix_df.head()

,Date,titleId,Title,Episode,seasonNumber,episodeNumber
0,14/02/2022,tt16477402,WWII in Color: Road to Victory,Ocupação da Itália,1,5
1,08/02/2022,tt16477402,WWII in Color: Road to Victory,Batalha de Kursk,1,4
2,31/01/2022,tt16477402,WWII in Color: Road to Victory,Ocupação do Norte da África,1,3
3,30/12/2021,tt16477402,WWII in Color: Road to Victory,Batalha do Atlântico,1,2
4,27/12/2021,tt16477402,WWII in Color: Road to Victory,Dunquerque,1,1

In [63]:
netflix_df.sample(5)

,Date,titleId,Title,Episode,seasonNumber,episodeNumber
20,14/05/2021,tt0028478,The Walking Dead,Tempo para depois,8,7
427,15/09/2019,tt0808506,Toki o kakeru shôjo,,NaN,NaN
166,05/02/2020,tt0092359,Full House,Stephanie vai longe demais,4,16
308,09/11/2019,tt0098800,The Fresh Prince of Bel-Air,A realidade dói,5,13
9,30/10/2021,tt9103932,Greatest Events of WWII in Colour,Dia D,1,6

## Exportar dados

In [64]:
netflix_df.to_csv('NetflixIMDb.csv', index=False, encoding='utf-8') 
files.download('NetflixIMDb.csv')

# Exportar dados do IMDb

In [ ]:
imdb_ratings = spark.sql(f"SELECT * FROM ratings_df WHERE tconst IN {tuple(title_ids)}").toPandas()
imdb_ratings.shape

(41, 3)

In [ ]:
imdb_basics = spark.sql(f"SELECT * FROM basics_df WHERE tconst IN {tuple(title_ids)}").toPandas()
imdb_basics.shape

(43, 9)

In [ ]:
imdb_episode = spark.sql(f"SELECT * FROM episode_df WHERE parentTconst IN {tuple(title_ids)}").toPandas()
imdb_episode.shape

(1879, 4)

## Download

In [ ]:
imdb_ratings.to_csv('IMDbRatings.csv', index=False, encoding='utf-8')
imdb_basics.to_csv('IMDbBasics.csv', index=False, encoding='utf-8')
imdb_episode.to_csv('IMDbEpisode.csv', index=False, encoding='utf-8')

files.download('IMDbRatings.csv')
files.download('IMDbBasics.csv')
files.download('IMDbEpisode.csv')

## Separar gêneros em IMDbBasics

In [ ]:
# IMDbBasics DataFrame
imdb_basics_df = pd.read_csv('https://raw.githubusercontent.com/vichShir/netflix-analysis/master/data/IMDb/IMDbBasics.csv')

In [ ]:
imdb_basics_df = imdb_basics_df.drop('genres', axis=1)\
                          .join(imdb_basics_df['genres']
                          .str.split(',', expand=True)
                          .stack().reset_index(level=1, drop=True)
                          .rename('genres'))
imdb_basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0028478,movie,The Walking Dead,The Walking Dead,0,1936,\N,66,Crime
0,tt0028478,movie,The Walking Dead,The Walking Dead,0,1936,\N,66,Drama
0,tt0028478,movie,The Walking Dead,The Walking Dead,0,1936,\N,66,Horror
1,tt0073174,movie,Inside Out,Inside Out,0,1975,\N,97,Comedy
1,tt0073174,movie,Inside Out,Inside Out,0,1975,\N,97,Crime

In [ ]:
imdb_basics_df.to_csv('IMDbBasics.csv', index=False, encoding='utf-8')
files.download('IMDbBasics.csv')

# Finalizar sessão do Spark

In [ ]:
spark.stop()

# Área de Testes

In [ ]:
# Registering a table
akas_df.registerTempTable("akas_df")
spark.sql("SELECT * FROM akas_df").show(3)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|  titleId|ordering|               title|region|language|      types|   attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
|tt0000001|       1|          Карменсіта|    UA|      \N|imdbDisplay|           \N|              0|
|tt0000001|       2|          Carmencita|    DE|      \N|         \N|literal title|              0|
|tt0000001|       3|Carmencita - span...|    HU|      \N|imdbDisplay|           \N|              0|
+---------+--------+--------------------+------+--------+-----------+-------------+---------------+
only showing top 3 rows

In [52]:
df = spark.sql("SELECT * FROM akas_df WHERE title = 'Sherlock' AND isOriginalTitle = '1'").toPandas()
df

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0337593,9,Sherlock,\N,\N,original,\N,1
1,tt0401785,1,Sherlock,\N,\N,original,\N,1
2,tt10691922,1,Sherlock,\N,\N,original,\N,1
3,tt1475582,36,Sherlock,\N,\N,original,\N,1

In [53]:
ratings_df.registerTempTable("ratings_df")
spark.sql("SELECT * FROM ratings_df WHERE tconst = 'tt1475582'").show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt1475582|          9.1|  882560|
+---------+-------------+--------+

In [50]:
basics_df.registerTempTable("basics_df")
spark.sql("SELECT * FROM basics_df WHERE tconst = 'tt0337593'").toPandas()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0337593,tvMovie,Sherlock,Sherlock,0,2002,\N,100,"Action,Adventure,Crime"

In [54]:
episode_df.registerTempTable("episode_df")
spark.sql("SELECT * FROM episode_df WHERE parentTconst = 'tt1475582'").toPandas()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/dataframe.py:140: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  FutureWarning

       tconst parentTconst seasonNumber episodeNumber
0   tt1664529    tt1475582            1             2
1   tt1664530    tt1475582            1             3
2   tt1665071    tt1475582            1             1
3   tt1815240    tt1475582            1             0
4   tt1942612    tt1475582            2             1
5   tt1942613    tt1475582            2             2
6   tt1942614    tt1475582            2             3
7   tt2189771    tt1475582            3             1
8   tt2781042    tt1475582            3             2
9   tt2781046    tt1475582            3             3
10  tt3381878    tt1475582            3             0
11  tt3538760    tt1475582            4             1
12  tt3845232    tt1475582            4             0
13  tt3845888    tt1475582            4             2
14  tt3845892    tt1475582            4             3